body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  
    
    height: 100vh;
   background-color: #16122e;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11vh;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 20px #0f0a24;
    z-index: 1000; /* Certifique-se de que a barra de navegação está acima de outros elementos */
}
  .navbar video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(5px);
    filter: blur(3px); /* Adiciona um leve desfoque ao vídeo */
  }
  .navbar.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
  .navbar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  
  .navbar img {
    width: 320px;
    margin-left: 50px
  }
  
  .navbar button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 50px;
    cursor: pointer;
    margin-left: auto; /* Adiciona um espaço automático à esquerda, alinhando o botão à direita */
  }
  .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color:#ffffff00;
    color: #fff;
    border:2px solid;
    border-radius: 10rem;
    margin-right: 50px;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: #0a073d;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .button:hover {
    background-color: #000;
  }
  
  .button:hover .button__icon-wrapper {
    color: #ffffff;
    background-color: #0a073d00;
    transition: 0.3s;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }
  .video-container h1{
    color: #fff;
  }
  .video-container{
    justify-content: center;
    display: inline;
    align-items: center;
  }
  .video-container p{
    color: #fff;
  }
  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

.video-content {
    margin-top: 20px;
}
.video-container video {
    border-radius: 15px;
    box-shadow: 0px 0px 35px #110a2a;
}

.image-container {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-bottom: 100px;
    margin-top: 100px;
}

.image-box {
    text-align: center;
    padding: 20px;
    width: 200PX;
    color: #fff;
    height: 150PX;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 50px;
    box-shadow: 0 4px 8px #110a2a;
}
.image-box h1{
    font-size: 20px;
}
.image-box img {
    width: 50px;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    ;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3; /* Ajuste a opacidade conforme necessário */
    pointer-events: none; /* Impe* Ajuste a opacidade conforme necessário */
}
.background-container {
    position: relative;
    z-index: 1;
}
.container-outer {
    display: flex;
    position: relative;
    box-shadow: 0px 0px 7100px #000;
    background-color: #131960;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 11vh; /* Compensa a altura da barra de navegação fixa */
}

.left-section {
  
    text-align: left;
}

.right-section {
   
    text-align: right;
}

.custom-video {
    max-width: 100%;
    height: auto;
}
.container1 {
    display: flex;
    justify-content: center;
}

.custom-box1 {
    width: 170px;
    height: 51px;
    background-color: #3498db;
    margin: 10px;
    color: #fff;
    border-radius: 25px;
    /* padding: 10px; */
    text-align: center;
    /* line-height: 100px; */
}
.custom-box1 img{
    border-radius: 25px;
    transition: 0.3s;
}
.custom-box1 img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    border-radius: 25px;
}
.left-section p,h1,h2 {
    color: #fff;
}

.left-section h1 span, h2 span {
    color: #ff7300; /* Cor rosa para "legalizado" e "gratuito" */
}